body {
    margin: 8px;
    display: block;
    background: radial-gradient(rgb(2, 2, 157), rgb(76, 76, 248));
}

#mainHeading {
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    color: red;
}

.funParagraph {
    font-size: 20px;
    background-color: rgb(173, 212, 246);
    color: green;
    border-radius: 5px;
}

img {
    width: 100%;
    max-width: 100%;
}
h2 {
    background-color: rgb(173, 212, 246);
    width: fit-content;
    border-radius: 5px;
}

p {
    background-color: rgb(173, 212, 246);
    font-size: 20px;
    border-radius: 5px;
}

figcaption {
    background-color: rgb(173, 212, 246);
    font-size: 16px;
    width: fit-content;
    border-radius: 5px;
}

#copyRight {
    position: relative;
    left: 1200px;
    width: fit-content;
    font-size: 12px;
}